@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(./img/dorcia-super.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app__left {
  /* background-color: #e2e3e7; */
  padding: 10px;
}

.app__right {
  /* background-color: #e2e3e7; */
  padding: 10px;
}

.app__title {
  font-weight: 400;
  font-stretch: condensed;
  margin-bottom: 0!important;
  margin-top: 0!important;
}

.app__covid {
  font-weight: 500;
  color: red;
  font-stretch: condensed;
  margin-bottom: 0!important;
  margin-top: 0!important;
}

.app__header__author {
  color: gray;
  font-size: 12px;
  margin: 0!important;
}

.app__boxes {
  margin-top:40px;
}

.black {
  color: black;
}

.green {
  color:green;
}

.red {
  color:red;
}
